@model IEnumerable<WebUmea.Models.DemoInstrument>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.InstrumentIds
            </td>
            <td>
                @item.InstrumentNames
            </td>
        </tr>
    }
</table>

