@model IEnumerable<WebUmea.Models.Instrument>


@{
    ViewBag.Title = "Instrument Sheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Instrument Sheet</h2>
<br />
<br />
<table class="table">
    <tr>
        <th>Instrument Name</th>
        <th>Instrument Manufacturer</th>
        <th>Instrument Model</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.InstrumentName</td>
            <td>@item.Manufacturer</td>
            <td>@item.InstrumentModel</td>

        </tr> 
    }

</table>


@{ Html.RenderAction("InstrumentView");}




