@model IEnumerable<WebUmea.Models.Image>
@{
    ViewBag.Title = "MediaLibrary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MediaLibrary</h2>

<table class="table">
    <tr>
        @foreach (var item in Model)
         {
        <td><img src="@Url.Content(item.ImagePath)" width="250" height="250"></td>
         }
    </tr>
    </table>
